@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    background-color: purple;
    color: white;
    font-family: "Inter", sans-serif;
   
}

.main{
  display: flex;
  flex-direction: row;
  margin: auto;
  border: 10px;
  border-style: groove;
  border-color: black;
}

